<div class="well well-lg">
  <h1>RoadTrip</h1>
</br>
  <p style="font-size: 2em;">
    Roadtrip is a trip planner website, aimed to make planning for trip easy and hassle free. This website is built on ItemMirror framework, which displays the dropbox folder structure. The trips data and information can be organised into folders.
  </p>
</br>
  <p style="font-size: 2em;">
     This website also provides an additional feature of reordering the folders as per user needs. This website provides an intuitive interface for adding folders and information. Website URLs can also be stored using phantom associations. This website provides a interactive feature of searching information on the web and store it inside the folders.
   
  </p>
  <p style="font-size: 2em;">
    
  </p>
  <p style="font-size: 2em; text-align: center; height: 75px;">Team Sparta</p>
  <table style="width:100%">
    <tr>
      <td style="text-align: center">
        <img src="images/nikita.jpg" class='img-circle' height="260" width="260" alternate="Nikita Redij">
        <p style="font-size: 2em; text-align: center;"><strong>Nikita Redij</strong></br>
          UX Designer</br>
          nikitar@uw.edu</p></br>
      </td>
      <td style="text-align: center">
        <img src="images/pankaj.jpg" class='img-circle' height="260" width="260" alternate="Pankaj Sharma">
        <p style="font-size: 2em; text-align: center;"><strong>Pankaj Sharma</strong></br>
          Project Manager</br>
          pankaj87@uw.edu</p></br>
      </td>
    </tr>
    <tr>
      <td style="text-align: center">
        <img src="images/parth.jpg" class='img-circle' height="260" width="260" alternate="Parth Shah">
        <p style="font-size: 2em; text-align: center;"><strong>Parth Shah</strong></br>
          Developer</br>
          parths@uw.edu</p></br>
      </td>
      <td style="text-align: center">
        <img src="images/wendy.jpg" class='img-circle' height="260" width="260" alternate="Wendy Wang">
        <p style="font-size: 2em; text-align: center;"><strong>Wendy Wang</strong></br>
          Developer</br>
          wendy5@uw.edu</p></br>
      </td>
    </tr>

</div>