<!--This is a newly new created about.html-->
<!-- The main.html here is actually mytodo's about.html -->
<div class="jumbotron">
  <h1>Map'ED Team</h1>
  <p class="lead">
    Map'Ed is built as part of INFX 598 'Practicum to Build Single Page Applications' under the guidance of Prof. William Jones. The contributors to this project are students at the University of Washington iSchool, Seattle. <strong>Contact us if you have any questions!</strong> 
  </p>
  <div style="text-align: center">
    <h3>Wendy Wang</h3>
    <img src="images/wendy.jpg" class='img-circle' height="260" width="260" alternate="Wendy Wang">
    <p>Developer</p>
    <p>MS in Information Management | 2016</p>
    <p>University of Washington</p>
    <p>wendyw5@uw.edu</p>
  </div>
  <hr>
  <br/>
  <div style="text-align: center">
    <h3>Nikita Redij</h3>
    <img src="images/nikita.jpg" class='img-circle' height="260" width="260" alternate="Nikita Redij">
    <p>User Experience Designer</p>
    <p>MS in Information Management | 2016</p>
    <p>University of Washington</p>
    <p>nikitar@uw.edu</p>
  </div>
  <hr>
  <br/>
  <div style="text-align: center">
    <h3>Pankaj Sharma</h3>
    <img src="images/pankaj.jpg" class='img-circle' height="260" width="260" alternate="Pankaj Sharma">
    <p>Developer</p>
    <p>MS in Information Management | 2016</p>
    <p>University of Washington</p>
    <p>pankaj87@uw.edu</p>
  </div>
  <hr>
  <br/>
  <div style="text-align: center">
    <h3>Parth Shah</h3>
    <img src="images/parth.jpg" class='img-circle' height="260" width="260" alternate="Parth Shah">
    <p>Developer</p>
    <p>MS in Information Management | 2016</p>
    <p>University of Washington</p>
    <p>parths@uw.edu</p>
  </div>

</div>