<div class="well well-lg">
  <h1>RoadTrip</h1>
  <p class="lead">
    This is a road trip planner.
  </p>
    <img src="images/main.jpg" class="img-responsive" alt="Beautiful India" width="800px" height="400px" align="middle">
  
  <p>


  </p>
  <p>

    In order for this app to work, you <strong>must enable pop-ups</strong> on
    this site. This is just so Dropbox can connect properly.

  </p>
  <p>
    Press the big green button to get started!
  </p>
  <p><a class="btn-lg btn-success" ng-href="#/explorer">Start</a></p>
</div>
